body {
    font-family: 'montserrat', sans-serif;

}

/*wraps all content in body, sets margins*/

.grid {
    display: grid;
    height: 100vh;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 10% 25% 20% 10%;
    grid-template-areas: "a a" "b c" "b d" "b e" "b f";
    margin-left: auto;
    margin-right: auto;
}

.grid div {
    display: flex;

}

.nav {
    padding-right: 5%;
    align-items: center;
    justify-content: flex-end;
    grid-area: a;
}

.navLinks {
    margin-left: 10%;
    text-decoration: none;
    color: darkgray;
}
.navLinks:hover {
    color: #ff8080;
}

.graphic {
    grid-area: b;
    display:flex;
    justify-content: center;
    align-items: center;

}
img{
    width: 55%;
}



/*sets profile photo in place, sets margins, and percentage heights so more flexible to scaling, makes radius circle and adds colored drop shadow*/

/*div that holds h1, exercises button, and h2 */

/*sets margins, padding, and color of h1 (my name)*/


h1 {
    color: #f27575;
}

p {
    font-size: 1em;
    line-height: 150%;
    color:gray
}


/*sets margins, padding, size, and color of h2 (class name)*/

.media{
    display:flex;
    align-items: flex-start;
}
.media a{
    padding-right: 10%;
    text-decoration: none;
    color:darkgray;
}
.media a:hover{
    color: #ff8080;
}

/*section for divs that make up project gallery, sets padding and margin*/

/*sets font size, padding, margins, and color of title "projects"*/

/*sets ALL divs under class "projects" width, padding, display,margins, background color (placeholder), height,opacity, and colored drop shadow*/
