body {
    font-family: 'montserrat', sans-serif;

}

/*wraps all content in body, sets margins*/

div.wrapper {
    margin-top: 2%;
}


/*sets profile photo in place, sets margins, and percentage heights so more flexible to scaling, makes radius circle and adds colored drop shadow*/
.grid {
    display: grid;
    min-height: 100vh;
    max-width: 1200px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 20% 25% 1fr 1fr;
    grid-template-areas: "a a""b c""b d""e f""g h""i j";
    margin-left: auto;
    margin-right: auto;
}

.grid div {
    display: flex;
}

.nav {
    align-items: center;
    justify-content: flex-end;
    grid-area: a;
    padding-right: 5%;
    display: flex;
}

.navLinks {
    margin-left: 10%;
    text-decoration: none;
    color: darkgray;
}

.navLinks:hover {
    color: #ff8080;
}

.graphic {
    grid-area: b;
    align-items: baseline;
    align-items: center;
}

 video {
    max-width: 100%;
    border-radius: 10px

}

.hiText {
    grid-area: c;
    padding-left: 10%;
    align-items: flex-end;
}

/*sets margins, padding, and color of h1 (my name)*/

.actualText {
    font-size: 150%;
    align-items: flex-start;
      grid-area: d;
    padding-left: 10%;
    margin-top: 0;
    color: #ff8080;
    margin-bottom: 0;
}

h1 {
    margin-top: 0;
    color: #ff8080;
}

/*sets margins, padding, size, and color of h2 (class name)*/

h2 {
    max-height: 50px;
    min-width: 100%;
    color: #464D6B;

}



.project1{
     grid-area: e;
    padding: 0 10%;
    display: flex;
   justify-content:flex-end;
    align-items: center;
}
 img {
    max-width:80%;
    border: 2px solid darkgray;
    border-radius: 10px;
}



.project2 {
    grid-area: f;
      padding: 0 10%;
    display: flex;
}


.project3 {
    grid-area: g;
    padding: 0 10%;
    display: flex;
   justify-content:flex-end;
    align-items: center;
}

.project4 {
    grid-area: h;
    padding:10%
}

.project4 video{
    max-width: 80%;
}

.project5 {
    grid-area: i;
}

.project6 {
    grid-area: j;
}




/*div that holds h1 and h2 */




/*section for divs that make up project gallery, sets padding and margin*/

/*sets font size, padding, margins, and color of title "projects"*/

/*sets ALL divs under class "projects" width, padding, display,margins, background color (placeholder), height,opacity, and colored drop shadow*/


/* media query syntax found at w3schools.com*/

@media screen and (max-width: 640px) {
    .grid {
        display: grid;
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "a""c""d""b""e""f""g""h""i""j";
    }

    .hiText {
        margin-left: 0;
        justify-content: center;
    }

    .actualText {
        justify-content: center;
    }

}
