body {
    font-family: 'montserrat', sans-serif;

}

/*wraps all content in body, sets margins*/

div.wrapper {
    margin-top: 2%;
}


/*sets profile photo in place, sets margins, and percentage heights so more flexible to scaling, makes radius circle and adds colored drop shadow*/
a.navLinks:hover{
    color:aqua;
}

.navLinks {
    float:left;
     margin-right: 10%;
    text-decoration: none;
    margin-bottom: 10%;

}

#aboutMe a{
   padding-left: 55%;
}
#work a{
    margin-right: 0%;
}
#work a:hover{

}

/*div that holds h1, exercises button, and h2 */

#aboutText {
    float: left;
    margin-left: 2%;
    margin-top: 3%;


}

/*sets margins, padding, and color of h1 (my name)*/

h1 {}

/*sets margins, padding, size, and color of h2 (class name)*/



img.about{
    margin-left: 5%;
    float: left;
    height=10%;
    width=10%;

}




