body {
    font-family: 'montserrat', sans-serif;

}

/*wraps all content in body, sets margins*/

.grid {
    display: grid;
    min-height: 100vh;
    max-width: 1200px;
    grid-template-columns: 30% auto auto;
    grid-template-rows: 10% 25% 15% 25% 25% 25%;
    grid-template-areas: "a a a" "b b c" "b b d" "e f g" "h h i" "j k l";
    margin-left: auto;
    margin-right: auto;
}

.grid div {
    display: flex;
    border: 1px dotted green;
}

.nav {
     padding-right: 5%;
    grid-area: a;
    align-items: center;
    justify-content: flex-end;
}

.navLinks {
    margin-left: 10%;
    text-decoration: none;
    color: darkgray;
}
.navLinks:hover {
    color: #ff8080;
}

.photo {

    grid-area: b;
}

.title {

    grid-area: c;
}

.date/info {
    grid-area: d;
}

.overview {

    grid-area: e;
}

.photo2 {
    grid-area: f;
}

.photo3 {
    grid-area: g;
}

.learned {

    grid-area: h;
}


.photo4 {
    grid-area: i;
}

.otherProjects1 {
    grid-area: j;
}

.otherProjects2 {
    grid-area: k;
}

.otherProjects3 {
    grid-area: l;
}


/*sets profile photo in place, sets margins, and percentage heights so more flexible to scaling, makes radius circle and adds colored drop shadow*/






/*div that holds h1, exercises button, and h2 */

/*sets margins, padding, and color of h1 (my name)*/


h1 {
    color: #f27575;
    margin-bottom: 10%;
    text-align: center;
}

p {
    font-size: .9em;
    text-align: center;
    margin: 10%;
    line-height: 25px;
}

/*sets margins, padding, size, and color of h2 (class name)*/


