body {
    font-family: 'montserrat', sans-serif;

}

/*wraps all content in body, sets margins*/

div.wrapper {
    margin-top: 2%;
}


/*sets profile photo in place, sets margins, and percentage heights so more flexible to scaling, makes radius circle and adds colored drop shadow*/
.nav{
    padding-right: 5%
}

.navLinks {
  margin-left: 10%;
    text-decoration: none;
    color: darkgray;
}



/*div that holds h1, exercises button, and h2 */



/*sets margins, padding, and color of h1 (my name)*/
#aboutText{
    margin-right:10%;
    margin-left:20%;
}

h1 {
    color:#f27575;
    margin-bottom:10%;
    text-align: center;
}

p{
    font-size: .9em;
    text-align: center;
    margin: 10%;
    line-height: 25px;
}

/*sets margins, padding, size, and color of h2 (class name)*/



#EAS img{
    margin-left: 10%;
    margin-right: 10%;
     height: 80%;
    width: 80%;

}




